#projects{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
    align-items: center;
    color: #211c0f;
}
.project{
    margin-top: 3em;
    margin-bottom: 3em;
    width: 60%;
    margin-left:20%;
    margin-right:20%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
.project div{
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 600px){
    .project{
        width: 80%;
        margin-left:10%;
        margin-right:10%;
    }
}

@media only screen and (min-width: 1125px){
    .project div{
        display: flex;
    }
    .project div h3{
        margin-right: 10%;
    }

}

.project div a{
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.project img{
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 0.5em;
    border-radius: 0;
}