*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
}

#app{
  width: 100vw;
  height: 100vh;
}

#outer{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#scroll{
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  position: absolute;
  background-color: wheat;
}

.item{
  max-height: 100vh;
  max-width: 100vw;
  filter:saturate(0%);
  overflow: hidden;
}

.circle{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  cursor: pointer;
}

.circle #name{
  color:white;
}
.amsterdam{
  background-color: #EE352E;
  transition: 0.5s;
}
.newYork{
  background-color: #0039A6;
  transition: 0.5s;
}
.paris{
  background-color: #00933C;
  transition: 0.5s;
}
.london{
  background-color: #FF6319;
  transition: 0.5s;
}