*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height:100vh;
  background-color: #3f3636;
}

#header{
  display: flex;
  color: #DBD9D2;
  font-size: larger;
  font-weight: 300;
  margin-bottom: 10px;
  justify-content: space-between;
}
#header div{
  display: flex;
  align-items:flex-end;
}

#header img{
  max-height: 3.8em;
  width: auto;
  margin-bottom: -31px;
  margin-right: -10px;
}

#name{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:x-large;
  margin-right: 15px;
}

.main{
  z-index: 1;
  display: flex;
  width: 80vw;
  height:75vh;
  box-shadow: #2f2828 20px 20px;
  box-shadow: #1d1818 20px 20px;
  border-radius: 5px;
  overflow: hidden;
}
@media only screen and (max-width: 600px){
  #root{
    align-items: unset;
    padding-top: 20px;
  }
  #header{
    font-size:medium;
  }
  #name{
    font-size: large;
  }
  .main{
    flex-direction: column;
    width: 86vw;
    height: 87vh
  }
  #header img{
    height: 0;
  }
}

#cat-buttons{
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  min-width: 20px;
}

.cat-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  font-size: medium;
}
@media only screen and (max-width: 600px){
  #cat-buttons{
    width: 100%;
    min-height: 12%;
    max-height: 10vh;
    flex-direction: row;
  }
  .cat-button{
    width: 100%;
    height: 100%;
    flex-direction: row;
  }
}

.cat-button:hover{
  cursor: pointer;
}

.about-me-clrs{
  background-color: #DBD9D2;
  color: #514326;
}
.projects-clrs{
  background-color: #b6b0a0;
  color: #514326;
}
.contact-clrs{
  background-color: #9F524F;
  color: #DBD9D2;
}
.resume-clrs{
  background-color: #A38B75;
  color: #eae9e2;
}

#text-box{
  background-color: #DBD9D2;
  color: #514326;
  width: 85%;
  height: 100%;
  transition: 0.7s;
  overflow: scroll;
}

@media only screen and (max-width: 600px){
  #text-box{
    width:100%;
  }
}
#text-box.projects-clrs{
  background-color: #b6b0a0;
  color: #514326;
}
#text-box.contact-clrs{
  background-color: #9F524F;
  color: #DBD9D2;
}
#text-box.resume-clrs{
  background-color: #A38B75;
  color: #eae9e2;
}

#page-outer-div{
  position: relative;
  opacity: 0;
  top: 1%;
  width: 100%;
  height: 100%;
  overflow: scroll;
  transition: 0.4s;
}
@media only screen and (max-width: 600px){
  #page-outer-div.active{
    opacity: 1;
    top: 0;
  }
}
@media only screen and (min-width: 600px){
  #page-outer-div{
    top: 0;
    left: 1%;
  }
  #page-outer-div.active{
    opacity: 1;
    left: 0;
  }
}