
#contact{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 100%;
    overflow: scroll;
    justify-content: center;
}

#contact a {
    text-decoration: none;
    color: #DBD9D2;
    font-size:larger;
}
#contact a:hover {
    cursor: pointer;
}

@media only screen and (max-width: 800px){
    #contact{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media only screen and (max-width: 600px){
    #contact{
        height: 70%;
    }
}

@media only screen and (max-width: 430px){
    #contact{
        width: 86%;
        margin-left: 7%;
        margin-right: 7%;
    }
}

@media only screen and (max-width: 1000px){
    #contact a {
        font-size:large;
    }   
}
@media only screen and (max-width: 870px){
    #contact a {
        font-size:medium;
    }   
}