
#about-me{

    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 5%;
    overflow: scroll;
}

#img-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: min-content;
    overflow: hidden;
}

img{
    border-radius: 5%;
    width: 100%;
}
@media only screen and (max-width: 1125px){

    img{
        width: 90%;
        max-width: 500px;
        margin: 5%;
        margin-top: 5vw;
        margin-bottom: 0;
    }
   
}

@media only screen and (min-width: 1125px){
    #about-me{
        display: flex;
        align-items: center;
    }
    #img-holder{
        min-width: 25vw;
    }
}

#about-me-text{
    margin: 5%;
}